.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06695D;
}

.login-container{
    width: 800px;
    height: 500px;
    background: #088178;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row-reverse;
}

.login-signinform,
.login-registerform {
    width: 50%;
    height: 100%;
    padding: 40px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    z-index: 1;
    left: 100%; 
}

.login-formTitle{
    font-size: 37px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.login-input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.login-button {
    width: 100%;
    height: 45px;
    background: white;
    color: #2a7f00;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-toggle-text {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}


.login-toggle-link {
    color: #ffcc00;
    cursor: pointer;
    text-decoration: underline;
}

.login-img-container {
    flex: 1;
    background-image: url('/public/images/noen.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0; /* Ảnh mặc định ở bên phải */
    transition: transform 0.5s ease-in-out;
}

.login-img-move-left {
    transform: translateX(-100%);
}

.login-welcome-text {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    color: #fff;
    font-family: 'Parisienne', cursive;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.login-active {
    left: 0%;
    opacity: 1;
    z-index: 2;
}

.login-register-active {
    left: 50%;
    opacity: 1;
    z-index: 2;
}

.forget-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forget-container {
    width: 800px;
    height: 500px;
    background: #088178;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 60px;
}

.forget-formTitle {
    font-size: 37px;
    color: #fff;
    font-weight: 700;
}

.input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.input-group i {
    font-size: 20px;
    color: #555;
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
}

.forget-form{
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
}

.forget-pass-btnGui{
    border-radius: 20px;
    background-color: white;
    color: #06695D;
    width: 150px;
    height: 50px;
    margin-left: 2px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
}

.forget-pass-btnGui:hover{
    background-color: #ff9100;
    color: white;
}

.forget-submitbtn{
    border-radius: 20px;
    background-color: white;
    color: #06695D;
    height: 50px;
    width: 300px;
    margin: 20px 120px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
}

.forget-submitbtn:hover{
    background-color: #ff9100;
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}