.udetail{
    display: flex;
    margin: 40px 0;
}

.udetail-sidebar{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 150px;
    margin-right: 80px;
}

.udetail-sidebar-item{
    padding: 10px;
    justify-items: center;
    border: outset;
    border-radius: 10px;
    cursor: pointer;
}

.udetail-sidebar-item:hover{
    background-color: #008080;
}

.udetail-sidebar-item:hover h4 {
    color: white;
}

.udetail-sidebar-item h4{
    font-size: larger;
    color: black;
    text-align: center;
    width: 100%;
}

.udetail-body{
    width: 1000px;
}

.udetail-sidebar-active, .udetail-sidebar-active h4{
    background-color: #008080;
    color: white;
}

.udetail-body-item{
    padding: 30px;
    border: 2px solid #cfcaca;
}

.udetail-body-btn{
    display: flex;
    justify-self: end;
}

.udetail-body-btn button{
    margin: 15px;
    padding: 5px 20px;
    border-radius: 7px;
    color: white;
}

.udetail-body-item h5{
    margin: 20px;
}

.udetail-body-item img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.udetail-body-item h2{
    color: #008080;
}

.oderdetail-container{
    margin: 100px;
}

.oderdetail-header{
    background-color: #008080;
    padding: 10px;
    border-radius: 10px;
}

.oderdetail-body{
    display: flex;
    flex-direction: column;
}

.oderdetail-body-ship{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.oderdetail-body-ship-detail{
    display: flex;
    flex-direction: row;
}

.oderdetail-body-address{
    padding: 0 20px;
}

.oderdetail-body-product{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.oderdetail-summary{
    margin:20px;
}

.oderdetail-actions{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.oderdetail-actions button{
    padding: 20px 50px;
    border-radius: 10px;
}