.btnAdmin {
    margin-inline: 20%;
    background-color: #0d6efd;
    color: white;
    transition: background-color 0.3s ease;
    width: 400px;
    margin-bottom: 10px;
    border: none;
    padding: 7px 0;
    font-size: 18px;
    font-weight: 600;
}

